:root {
  --primary: rgba(140, 255, 140, 0.25);
  --secondary:rgb(240, 240, 240);
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(white, var(--primary))
}
.inputs-bar {
  margin: 30px;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-self: center;
  width: 85%;
  height: 100px;
}
.inputs {
  display: flex;
  gap: 10px;
  width: 800px;
  /* background-color: lightgreen; */
}
.input-field {
  width: 100%;
}
.submit-buttons {
  display: flex;
  gap: 10px;
}
.submit-btn {
  width: 140px;
  height: 50px;
}
 .toolbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary);
 }
 .toolbar-icons {
  display: flex;
  gap: 20px;
  background-color: var(--primary);
  padding: 5px;
  border-radius: 50px;
 }
.data-table {
  margin: 50px;
  overflow: hidden;
  border: 1px inset rgba(0, 0, 0, 0.3);
}
.table-head {
  background-color: var(--secondary) !important;
}
.export-container {
  display: flex;
  margin: 20px;
  justify-content: right;
  align-items: center;
  gap: 10px;
}
.export-text {
  padding-right: 10px;
}